.logo 							/* faire un class="" dans le html pour llinker le style*/
{
  	color: blue;  /* Indiquez les propriétés CSS ici */
}

pour mettre deux balise ensemble, la virgule ","
exemple h1,em

A + B : une balise qui en suit une autre

A B : une balise contenue dans une autre
A[attribut] : une balise qui possède un attribut
A[attribut="Valeur"] : une balise, un attribut et une valeur exacte


    font-size: 14px; /* avec des pixels; des "em" precedé d'un chiffre;ou les sept :; xx-smal;... medium X-large */
	@font-face: ; /*fait telecharger la police de  votre choix, reste encore a l'installer */
    font-family: Impact, "Arial Black", sans-serif; /*penser a mettre des guillemet quand les polices contiennent des espaces*/
	font-style:  /* italic; oblique normal */
	font-weight: ; /* bold et normal*/
	text-decoration: ; /*underline; line-through; overline; blink; none*/
	text-align: ; /*left; center; right; justify */
	text-shadow: 6px 6px 0px black; /*le décalage horizontal;le décalage vertical;l'adoucissement du dégradé ;couleur)

	color: ; /*seize couleur standar; sinon en hexe #000000 noir a #FFFFFF blanc; ou encore rgb(0,0,255) chaque entre 0 et 255)*/
	background-color: ; /* pareil que color*/

    background-image: url("neige.png");
    background-attachment:; /* scroll ou fixed */
    background-repeat: ; /*no-repeat; repeat-x; repeat-y; repeat */

	/*positionnement d'une image de fond*/
    background-image: url("soleil.png");
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: top right; /* Le fond sera placé en haut à droite */

	opacity: ; /*de 1 a 0; possible de l'inclure dans rgb en remplacant par "rgba(0,0,0,0)"*/

 /* bordure aller voir https://openclassrooms.com/fr/courses/1603881-apprenez-a-creer-votre-site-web-avec-html5-et-css3/1605694-les-bordures-et-les-ombres */


 



