body
{
background-image: url("800px.jpg");
background-repeat: repeat ;
font-weight: bold;
margin-top: 30px;
text-align: center;
}

aside
{
	margin-top: 30px;
}
h1
{ 
border: 8px black solid;
border-radius: 15px;
display:table;
margin: auto;
color: red;
font-size: 3em;
font-weight: bold;
text-align: center;
text-decoration-line: underline;
text-decoration-style: bold;
 }

h2
{
	color: rgb(250,0,0);
	font-size: 1.5em;
	text-align: center;
	text-decoration-line: underline;
	text-decoration-color: green;
	text-shadow: 2px 2px 3px blue;
text-underline-position: 5px;
}
p

{
margin: 10px; /* Marge extérieure de 50px */
margin-left: 400px;
margin-right: 400px;
color: black;
text-align: center;
}

li
{
margin: 10px; /* Marge extérieure de 50px */
margin-left: 300px;
margin-right: 300px;
color: black;
text-align: left;
}
.fakepre
{
color: #454545;
font-family:monospace;
font-size: 1.1em;
text-align: left;
margin-left: 20px;
margin-right: 0px;
margin-top: 10px;

}


.foufoufou

.st
{
	margin-top: 35px;
}


/*copié collé de l'original */
span.foufoufou{color:#444;font-weight:700}
span.foufoufou:before{content:"";display:inline-block;width:1em;height:1em;margin-left:.2em;margin-right:.2em;background-color:#444}
span.foufivfoufivfoufiv{color:#454545;font-weight:700}
span.foufivfoufivfoufiv:before{content:"";display:inline-block;width:1em;height:1em;margin-left:.2em;margin-right:.2em;background-color:#454545}

html.inverted{background-color:#010101}
html.inverted body{color:#bababa}
html.inverted div#invmode{color:#fff;background-color:#000}
html.inverted blockquote{color:#dad0c7}
html.inverted blockquote:before{color:#bfbfbf}
html.inverted a{color:#07a}
html.inverted a:visited{color:#ac5a82}
html.inverted span.wr{color:#c0392b}
html.inverted span.mfw{color:#8a0000}


div#contrast,div#invmode{cursor:pointer;position:absolute;right:10px;font-size:.8em;text-decoration:underline;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
div#invmode{color:#fff;background-color:#000;top:34px;padding:2px 5px}












