body
{
background-image: url("800px.jpg");
background-repeat: repeat ;
font-weight: bold;
margin-top: 30px;
text-align: left;
}

h1
{ 
border: 8px #ED0968 groove;
border-radius: 15px;
display:table;
margin: auto;
color: red;
font-size: 3em;
font-weight: bold;
text-align: center;
text-decoration-line: underline;
text-decoration-style: bold;
 }

h2
{
	color: rgb(250,0,0);
	font-size: 1.5em;
	text-align: center;
	text-decoration-line: underline;
	text-decoration-color: green;
	text-shadow: 2px 2px 3px blue;
text-underline-position: 5px;
}
p

{
margin: 10px; /* Marge extérieure de 50px */
margin-left: 400px;
margin-right: 400px;
color: black;
text-align: center;
}

li
{
margin: 10px; /* Marge extérieure de 50px */
margin-left: 300px;
margin-right: 300px;
color: black;
text-align: left;
}
.fakepre
{
color: #454545;
font-family:monospace;
font-size: 1.1em;
text-align: left;
margin-left: 20px;
margin-right: 0px;
margin-top: 10px;

}


.foufoufou

.st
{
	margin-top: 35px;
}


/*copié collé de l'original */
span.foufoufou{color:#444;font-weight:700}
span.foufoufou:before{content:"";display:inline-block;width:1em;height:1em;margin-left:.2em;margin-right:.2em;background-color:#444}
span.foufivfoufivfoufiv{color:#454545;font-weight:700}
span.foufivfoufivfoufiv:before{content:"";display:inline-block;width:1em;height:1em;margin-left:.2em;margin-right:.2em;background-color:#454545}
















